<div class="login reset-password">
    <svg class="login-bg" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" login-svg-bg>
        <polygon  points="" style="fill:#8bc34a;"/>
        <polygon  points="" style="fill:#689f38;opacity:0.3"/>
    </svg>
    <header>
        <svg>
            <use xlink:href="{{productConfigs.logo}}"></use>
        </svg>
    </header>

    <div class="login-bd m-t-lg" ng-hide="authError">
        <div class="user-email pos-rlt">
            <span class="pt-center pt-vertical-center">{{userEmail}}</span>
        </div>
        <div class="tips-info" translate="DATADECK_SET_PASSWORD.TIP_0"></div>

        <form name="form" class="form-validation" ng-show="showForm">

            <p class="ipt-tips" translate="DATADECK_SET_PASSWORD.NEW_PASSWORD"></p>
            <div class="ipt-login m-b-xs">
                <input class="no-bg no-border text-xxl"
                       type="password"
                       ng-minlength="6"
                       ng-input-focus
                       ng-maxlength="20"
                       ng-keydown="enterKeyUp($event,resetPassword)"
                       name="newPassword"
                       ng-model="newPassword"
                       required>
                <div class="popover right text-danger"
                     ng-show="form.newPassword.$dirty && form.newPassword.$invalid && !form.newPassword.$focused && !isPhone">
                    <div class="arrow"></div>
                    <div class="popover-inner">
                        <div class="popover-content">
                            <span ng-show="form.newPassword.$error.required" translate="LOGIN.ERROR_TIP.PASSWORD_NULL">password is required.</span>
                            <span ng-show="form.newPassword.$error.minlength"
                                  translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH">Min length 6.</span>
                            <span ng-show="form.newPassword.$error.maxlength"
                                  translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH">Max length 20.</span>
                        </div>
                    </div>
                </div>
                <div class="popover right text-success"
                     ng-show="form.newPassword.$focused && !isPhone">
                    <div class="arrow"></div>
                    <div class="popover-inner">
                        <div class="popover-content">
                            <span translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH"></span>
                        </div>
                    </div>
                </div>
            </div>

            <p class="ipt-tips" translate="DATADECK_SET_PASSWORD.SPACE_DOMAIN"></p>
            <div class="ipt-login m-b-xs ipt-space-domain"
                 ng-class="{'ipt-space-domain-jp': !isDomain('datadeck.com')}">
                <label for="space-host"><span class="space-host">{{spaceHost}}</span></label>
                <input class="no-bg no-border text-lg" id="space-host"
                       maxlength="30"
                       ng-pattern="/^[a-z0-9][a-z0-9_\-]{0,28}[a-z0-9]$/"
                       ng-input-focus
                       domain-unique
                       ng-keydown="enterKeyUp($event,resetPassword)"
                       name="spaceDomain"
                       ng-model="spaceDomain"
                       required
                       type="text"/>
                <div class="popover right text-danger"
                     ng-show="form.spaceDomain.$dirty && form.spaceDomain.$invalid && !form.spaceDomain.$focused && !isPhone">
                    <div class="arrow"></div>
                    <div class="popover-inner">
                        <div class="popover-content">
                            <span ng-show="form.spaceDomain.$error.required" translate="SPACE.CREATE.STEP_A.ERROR_DOMAIN_EMPTY"></span>
                            <span ng-show="form.spaceDomain.$error.pattern" translate="SPACE.CREATE.STEP_A.ERROR_DOMAIN_ERROR"></span>
                            <span ng-show="form.spaceDomain.$error.unique" translate="SPACE.CREATE.STEP_A.ERROR_DOMAIN_ALREADY"></span>
                        </div>
                    </div>
                </div>
                <div class="popover right text-success"
                     ng-show="form.spaceDomain.$focused && !isPhone">
                    <div class="arrow"></div>
                    <div class="popover-inner">
                        <div class="popover-content">
                            <span translate="DATADECK_SET_PASSWORD.SPACE_DOMAIN_TIPS"></span>
                        </div>
                    </div>
                </div>
            </div>

            <p class="ipt-tips" translate="DATADECK_SET_PASSWORD.SPACE_NAME"></p>
            <div class="ipt-login m-b-xs">
                <input class="no-bg no-border text-lg"
                       maxlength="30"
                        ng-input-focus
                        ng-blur="verifyEvent('name')"
                        ng-keydown="enterKeyUp($event,resetPassword)"
                        name="spaceName"
                        ng-model="spaceName"
                        required
                        type="text"/>
                <div class="popover right text-danger"
                     ng-show="form.spaceName.$dirty && form.spaceName.$invalid && !form.spaceName.$focused && !isPhone">
                    <div class="arrow"></div>
                    <div class="popover-inner">
                        <div class="popover-content">
                            <span ng-show="form.spaceName.$error.required" translate="SPACE.CREATE.STEP_A.ERROR_NAME_EMPTY">spaceName is required.</span>
                        </div>
                    </div>
                </div>
            </div>

            <button id="login-reset-submit"
                    class="text-xl no-border block text-center btn-login m-t-xl"
                    type="button"
                    ng-click="resetPassword()"
                    translate="DATADECK_SET_PASSWORD.SUBMIT"></button>

            <!--移动端提示-->
            <div class="pt-phone-login-error"
                 ng-show="form.newPassword.$dirty && form.newPassword.$invalid && !form.newPassword.$focused && isPhone">
                <span ng-show="form.newPassword.$error.required" translate="LOGIN.ERROR_TIP.PASSWORD_NULL">password is required.</span>
                <span ng-show="form.newPassword.$error.minlength"
                      translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH">Min length 6.</span>
                <span ng-show="form.newPassword.$error.maxlength"
                      translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH">Max length 20.</span>
            </div>
            <div class="pt-phone-login-error"
                 ng-show="form.spaceDomain.$dirty && form.spaceDomain.$invalid && !form.spaceDomain.$focused && isPhone">
                <span ng-show="form.spaceDomain.$error.required" translate="SPACE.CREATE.STEP_A.ERROR_DOMAIN_EMPTY"></span>
                <span ng-show="form.spaceDomain.$error.pattern" translate="SPACE.CREATE.STEP_A.ERROR_DOMAIN_ERROR"></span>
                <span ng-show="form.spaceDomain.$error.unique" translate="SPACE.CREATE.STEP_A.ERROR_DOMAIN_ALREADY"></span>
            </div>
            <div class="pt-phone-login-error"
                 ng-show="form.spaceName.$dirty && form.spaceName.$invalid && !form.spaceName.$focused && isPhone">
                <span ng-show="form.spaceName.$error.required" translate="SPACE.CREATE.STEP_A.ERROR_NAME_EMPTY">spaceName is required.</span>
            </div>
        </form>
    </div>
    <div class="login-bd m-t-lg" ng-show="authSuccess">
        <div class="text-center reset-countDown m-t-xl m-t-md login-default-color" ng-bind="errorMessage"></div>
    </div>

</div>
