//@import "compass";
//@import "../../../public/sass/framework/varibles";
//@import "../../../public/sass/framework/mixin-ui";
//@import "../../../public/sass/framework/mixin-basic";

.reset-password{
  padding-top: 80px;

  .login-bd{
    margin-top: 17px;
  }

  .user-email {
    height: 42px;
    font-size:30px;
    color:#fff;
    text-align:center;
  }

  .tips-info {
    font-size:22px;
    color:#fff;
    text-align:center;
    margin-bottom: 30px;
    line-height: 1.1em;
  }

  .ipt-tips {
    font-size:18px;
    color:#ffffff;
    text-align:left;
    margin: 0;
  }

  .ipt-login {
    padding: 0 12px;
    margin-bottom: 20px;

    &.ipt-space-domain {

      &.ipt-space-domain-jp {
        span.space-host {
          width: 140px;
        }
        input {
          width: 170px;
        }
      }

      span.space-host {
        display: inline-block;
        width: 155px;
        font-size:18px;
        color:#74ae35;
      }
      input {
        width: 155px;
      }
    }

    .popover.right {
      left: 100%;
      display: block;
      width:100%;
      top: 50%;
      height: auto;
      margin-left: 15px;
      transform: translate(0, -50%);
      padding: 0;
      background: transparent;
      background-clip: inherit;
      border: none;
      box-shadow: none;

      .popover-inner {
        max-width: 100%;
        padding: 1px;
        white-space: normal;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 6px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        float: left;
        margin-left: -1px;
      }
      .popover-content span{
        font-size:13px;
      }
    }
  }
}
