<div class="editor-pop editor-title wrapper-md text-black-400">
	<p>
		<a href="javascript:" class="btn btn-success" ng-click="deleteCustomWidget(modal.editorNow)" translate="WIDGET.EDITOR.CUSTOM.DELETE">删除</a>
		<a href="javascript:" class="btn btn-success" ng-click="copyCustomWidget(modal.editorNow)" translate="WIDGET.EDITOR.CUSTOM.COPY">复制</a>
	</p>
	<p>
		<a href="javascript:" class="btn btn-success" translate="WIDGET.EDITOR.CUSTOM.UP" ng-click="reWriteLayout('up')">上升一层</a>
		<a href="javascript:" class="btn btn-success" translate="WIDGET.EDITOR.CUSTOM.DOWN" ng-click="reWriteLayout('down')">下降一层</a>
	</p>

</div>