.widget-copy {

	.widget-copy-list-wrap {
		margin: 10px 0;
		position: relative;

		.widget-copy-list {
			padding: 0;
			border: none;
			max-height: 250px; 
			overflow: auto;
			width: 100%;
			top: 34px;

			li {
				margin: 2px 0;

				a {
					padding: 6px 15px 3px 15px;
				    line-height: 1.2em;
				    font-size: 14px;

				    &:hover,
					&:focus,
					&.active {
						background-color: #9ccc65!important;
					    width: 100%;
					    color: #fff;
					    box-shadow: none;
					}
				}
			}
		}
	}
}