<div class="inner">
    <a href="javascript:" class="skip"><span translate="ONBOARDING.SKIP">skip</span><span>&raquo;</span></a>
    <ul class="bxslider">
        <li>
            <img ng-src="/assets/images/onboarding/onboarding-slip1-{{rootUser.settingsInfo.locale}}.jpg" />
            <div class="text-box">
                <h3 translate="ONBOARDING.SLIPS1.TITLE" translate-values="{{productConfigs}}">欢迎使用Pt One</h3>
                <p translate="ONBOARDING.SLIPS1.PART1">操作简单，无需复杂的技术背景</p>
                <p translate="ONBOARDING.SLIPS1.PART2">仅需几步，对商业表现一目了然</p>
                <p translate="ONBOARDING.SLIPS1.PART3" translate-values="{{productConfigs}}">使用Pt One，每个人都是数据专家</p>
                <p translate="ONBOARDING.SLIPS1.PART4"></p>
            </div>
        </li>
        <li>
            <img ng-src="/assets/images/onboarding/onboarding-slip2-{{rootUser.settingsInfo.locale}}.jpg" />
            <div class="text-box">
                <h3 translate="ONBOARDING.SLIPS2.TITLE">商业面板模板助你快速上手</h3>
                <p translate="ONBOARDING.SLIPS2.PART1">提供满足不同业务需求的面板模板</p>
                <p translate="ONBOARDING.SLIPS2.PART2">一键关联数据，快速上手</p>
                <p translate="ONBOARDING.SLIPS2.PART3">节省时间，任意修改调整</p>
            </div>
        </li>
        <li>
            <img ng-src="/assets/images/onboarding/onboarding-slip3-{{rootUser.settingsInfo.locale}}.jpg" />
            <div class="text-box">
                <h3 translate="ONBOARDING.SLIPS3.TITLE">灵活定制的面板与Widget</h3>
                <p translate="ONBOARDING.SLIPS3.PART1">个性化定制多种可视化图表</p>
                <p translate="ONBOARDING.SLIPS3.PART2">灵活强大的数据查询与处理功能</p>
                <p translate="ONBOARDING.SLIPS3.PART3">自由排版，定制最完美的视觉呈现</p>
            </div>
        </li>
        <li>
            <img ng-src="/assets/images/onboarding/onboarding-slip4-{{rootUser.settingsInfo.locale}}.jpg" />
            <div class="text-box">
                <h3 translate="ONBOARDING.SLIPS4.TITLE">实时连接各种数据服务</h3>
                <p translate="ONBOARDING.SLIPS4.PART1" translate-values="{{productConfigs}}">轻松连接各种数据服务到Pt One</p>
                <p translate="ONBOARDING.SLIPS4.PART2">将你所有的商业数据整合到面板中</p>
                <p translate="ONBOARDING.SLIPS4.PART3">对你关心的各项数据进行实时监控</p>
            </div>
        </li>
        <li>
            <img ng-src="/assets/images/onboarding/onboarding-slip5-{{rootUser.settingsInfo.locale}}.jpg" />
            <div class="text-box">
                <h3 translate="ONBOARDING.SLIPS5.TITLE">空间协作</h3>
                <p translate="ONBOARDING.SLIPS5.PART1">将成员加入到团队的空间</p>
                <p translate="ONBOARDING.SLIPS5.PART2">通过数据共同管理增强团队协作效率</p>
                <p translate="ONBOARDING.SLIPS5.PART3">促进数据驱动的企业文化</p>
            </div>
        </li>
        <li>
            <img ng-src="/assets/images/onboarding/onboarding-slip6-{{rootUser.settingsInfo.locale}}.jpg" />
            <div class="text-box">
                <h3 translate="ONBOARDING.SLIPS6.TITLE" translate-values="{{productConfigs}}">分享与协作</h3>
                <p translate="ONBOARDING.SLIPS6.PART1" translate-values="{{productConfigs}}">将面板随时分享给你的团队</p>
                <p translate="ONBOARDING.SLIPS6.PART2">通过数据共享增强团队协作效率</p>
                <p translate="ONBOARDING.SLIPS6.PART3">促进数据驱动的企业文化</p>
                <p translate="ONBOARDING.SLIPS6.PART4"></p>
                <p translate="ONBOARDING.SLIPS6.PART5"></p>
                <p translate="ONBOARDING.SLIPS6.PART6"></p>
                <p translate="ONBOARDING.SLIPS6.PART7"></p>
            </div>
            <a href="javascript:" translate="ONBOARDING.START" class="start btn btn-success"></a>
        </li>
    </ul>
</div>
<div class="on-boarding-model"></div>
