sizzler-web/dist.zip
sizzler-web/dist/
sizzler-web/node_modules/
./target
**/target
**/.classpath
**/.settings
**/.project
**/.gitignore
**/*.bat
**/*.bak
**/*.log
**/*.zip
**/*.me
**/* bak
**/* me
/sizzler-web/readme.txt
