<!-- 通用头部 -->
<div class="pt-ds-header">
    <!-- 数据源路径 -->
    <div class="ds-header-breadcrumb text-black-900">
        <a class="text-black-900" ui-sref="pt.dataSources" translate="DATA_SOURCE.MANAGEMENT.TITLE">Data Source Management</a>
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-small-right"></use></svg>
        <span class="text-black-1000">
            {{myOptions.i18n.hdTitleManage}}
        </span>
    </div>

    <!-- 数据源默认介绍 -->
    <div class="pt-ds-header-introduce clearfix m-b-md">
        <div class="pt-ds-header-introduce-logo"><span class="img">
        <img ng-src="/assets/images/ds/set-{{myOptions.currentDs.code}}.jpg" alt="{{myOptions.currentDs.name}}"/></span></div>
        <div class="pt-ds-header-introduce-detail">
            <p ng-bind-html="myOptions.i18n.hdIntroduce"></p>
            <p class="pt-ds-header-introduce-website m-b-none"><a href="https://www.google.com/intl/ja/analytics/" target="_blank">{{myOptions.currentDs.name}} &gt;</a></p>
        </div>
        <a class="pt-btn pt-btn-success pt-btn-add ds-gd-add-btn"
           href="javascript:"
           ng-show="myOptions.account.list.length != 0"
           ng-click="authorization()">
            <svg>
                <use xlink:href="#icon-add-solid" />
            </svg>
            <span>
                {{myOptions.i18n.btnConnectNewAccount}}
            </span>
        </a>

    </div>
</div>


<!--无数据时提示层 -->
<div dataType="noData" class="ds-no-binding m-t-xxl" ng-show=" myOptions.current.mod == 'noData' ">
    <div class="description">
        <p ng-bind-html="myOptions.i18n.tipsAddAccount"></p>
    </div>
    <p>
        <button class="pt-btn pt-btn-success pt-btn-add" href="javascript:"
                ng-click="authorization()">
            <svg>
                <use xlink:href="#icon-add-solid" />
            </svg>
            <span>
                {{myOptions.i18n.btnConnectNewAccount}}
            </span>
        </button>
    </p>
</div>



<div dataType="tableList" class="ds-binding m-t-xxl" ng-show=" myOptions.current.mod == 'tableList' ">
    <div class="ds-add-account padder-b text-right">
    </div>

    <div class="pt-ds-table-list-bd pt-ds-ga-content-list">
        <div class="pt-ds-table pt-ds-table-ga" ng-repeat="account in myOptions.account.list" >
            <div class="pt-ds-table-info" title="{{account.name}}">
                {{account.name}}

            	<!-- 提示信息 -->
            	<span class="chart-tips-trigger m-l-sm" ng-if="account.showExpireTip" chart-tips-trigger>
            		<svg>
                          <use xlink:href= "#icon-warning"></use>
                    </svg>
                    <div class="tips-wrap">
                        <div class="inner">
                            <div class="arrows"></div>
                            <div class="tips-content" ng-if="account.uid != userInfo.ptId">
                                {{ 'DATA_SOURCE.EXPIRED_TITLE.UNOWNER' | translate}}
                            </div>
                            <div class="tips-content" ng-if="account.uid == userInfo.ptId">
                                <span translate="DATA_SOURCE.EXPIRED_TITLE.OWNER_1"></span>
			                   	<span translate="DATA_SOURCE.EXPIRED_TITLE.OWNER_2"></span>
			                   	<span translate="DATA_SOURCE.EXPIRED_TITLE.OWNER_3"></span>
                            </div>
                        </div>
                    </div>
                </span>
                <a translate="DATA_SOURCE.EXPIRED_TITLE.OWNER_2"
                   class="text-u-l"
                   ng-click="authorization('again')"
                   ng-if="account.showExpireTip && account.uid == userInfo.ptId"></a>
            </div>
            <div class="pt-ds-table-date pt-ds-table-date-ga" >
                <p class="pt-ds-table-date-list text-ellipsis" title="{{myOptions.account.currentAccount.userName}}">
                    <span>
                    {{myOptions.i18n.tipsOwner}}
                    </span>
                    <span>: &nbsp;</span>
                    {{account.userName}}
                </p>
            </div>
            <div class="pt-ds-table-set pt-ds-table-set-ga" >
                <div class="pt-btn-group pt-select" dropdown>
                    <a class="pt-block pt-btn-more pt-selectbtn" href="javascript:"  dropdown-toggle>
                        <span class="more"></span>
                    </a>
                    <ul class="pt-dropdown-menu pt-mysql-dropdowm">
                        <li>
                            <a href="javascript:"
                               class="pt-btn-add pt-menu"
                               ng-click="setTimezone(account, $index)">
                                <svg>
                                    <use xlink:href="#icon-timezone" />
                                </svg>
                                <span translate="DATA_SOURCE.TIMEZONE.BUTTON"></span>
                            </a>
                        </li>
                        <li>
                            <a class="pt-btn-add pt-menu" href="javascript:"
                            ng-click="removeAccountShow(account, $index)">
                                <svg>
                                    <use xlink:href="#icon-del" />
                                 </svg>
                            <span translate="DATA_SOURCE.MANAGEMENT.BTN_REMOVE">Remove</span>
                             </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 提示模板 -->
<div tips-two-btn tips-options="{{myOptions.tips.options}}" ng-if="myOptions.tips.show"></div>

<!-- 时区 -->
<timezone 
    ng-if="myOptions.timezone.show"
    fieds="myOptions.timezone.fieds"
    tips-code="{{myOptions.i18n.tipsTimezoneCode}}"
    hide-timezone="hideTimezone()"
></timezone>
