.forgot-password {
    .popover.right {
        top: 50%;
        left: 100%;
        display: block;
        width: 100%;
        transform: translate(3px, -50%);

        a {
            text-decoration: underline;
            color: #ef4f4b;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .back-signin {
        margin: 50px 0;
        text-align: center;
        font-size: 16px;
        display: block;
        color: #fff;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

}
