<div class="login forgot-password"  ng-class="{'pt-phone': pt.settings.isPhone}">
    <svg class="login-bg" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" login-svg-bg>
        <polygon points="" style="fill:#8bc34a;"/>
        <polygon points="" style="fill:#689f38;opacity:0.3"/>
    </svg>

    <header>
        <svg>
            <use xlink:href="{{productConfigs.logo}}"></use>
        </svg>
    </header>

    <!-- 邮件输入 -->
    <div class="login-bd m-t-lg" ng-hide="$ctrl.state.sendResult">
        <div class="text-center text-over text-lg text-white forgot-info" translate="FORGOT_PASSWORD.TIP_0"></div>

        <form name="$ctrl.form" class="form-validation" novalidate>
            <div class="ipt-login m-b-md">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
                </svg>
                <input
                    id="login-forgot-email"
                    class="no-bg no-border text-lg"
                    type="text"
                    name="email"
                    autofocus
                    autocomplete="off"
                    ng-attr-placeholder="{{'FORGOT_PASSWORD.TIP_4' | translate:productConfigs}}"
                    ng-model="$ctrl.email"
                    ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/"
                    ng-keydown="enterKeyUp($event,$ctrl.sendEmail,$ctrl.form.email);$ctrl.state.errorInfo=null"
                    ng-input-focus
                    ng-required="true"
                    ng-maxlength="100">
                <div
                    class="popover right text-danger"
                    ng-show="($ctrl.form.email.$dirty && $ctrl.form.email.$invalid || $ctrl.state.errorInfo) && !$ctrl.form.email.$focused">
                    <div class="arrow"></div>
                    <div class="popover-inner">
                        <div class="popover-content">
                            <div ng-show="$ctrl.form.email.$error.required" translate="LOGIN.ERROR_TIP.EMAIL_NULL">Email is
                                required.
                            </div>
                            <div ng-show="$ctrl.form.email.$error.pattern" translate="LOGIN.ERROR_TIP.EMAIL_FORMAT">Invalid
                                email address.
                            </div>
                            <div ng-show="$ctrl.form.email.$error.maxlength" translate="LOGIN.ERROR_TIP.EMAIL_LENGTH">Max
                                length 100.
                            </div>
                            <div ng-show="$ctrl.state.errorInfo == 'USER_NOT_ACTIVE_ERROR'">
                                <span translate="FORGOT_PASSWORD.EMAIL_NO_ACTIVATED_1"></span>
                                <a translate="FORGOT_PASSWORD.EMAIL_NO_ACTIVATED_2" ng-click="$ctrl.sendActivatedEmail()"></a>
                                <span translate="FORGOT_PASSWORD.EMAIL_NO_ACTIVATED_3"></span>
                            </div>
                            <div ng-show="$ctrl.state.errorInfo == 'USER_EMAIL_NOT_EXISTS'" translate="FORGOT_PASSWORD.EMAIL_NO_EXISTS"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button
                id="login-forgot-submit"
                class="text-xl no-border block text-center btn-login"
                type="button"
                ng-click="$ctrl.sendEmail()"
                ripple-svg="default">
                <span translate="FORGOT_PASSWORD.SUBMIT">Submit</span>
            </button>
        </form>
        <a class="back-signin"
            ui-sref="signin"
            translate="LOGIN.RETURN_TO_SIGNIN"
            pt-log="{
                'where': 'main_forgot_password',
                'what': 'go_signin'
            }">Return to Login Page</a>
    </div>

    <!-- 发送邮件成功提示 -->
    <div class="login-bd m-t-lg" ng-show="$ctrl.state.sendResult">
        <p class="text-md text-white text-center m-b-md" translate="{{$ctrl.state.sendCode}}"></p>
        <button id="login-forgot-return"
                class="text-xl no-border block text-center btn-login m-t-xl"
                type="button"
                ui-sref="signin"
                ripple-svg="default"
                pt-log="{
                    'where': 'main_forgot_password',
                    'what': 'go_signin'
                }">
            <span translate="LOGIN.RETURN_TO_SIGNIN">Return to Login Page</span>
        </button>
    </div>
</div>

<!-- loading" -->
<div class="pt-loading" ng-show="$ctrl.state.sending">
    <span class="pt-center pt-loading-box-lg">
        <svg class="load-s btnloads white">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-loading"></use>
        </svg>
        <svg class="load-m btnloadm white">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-loading"></use>
        </svg>
    </span>
</div>
