@charset "utf-8";

/*
  Name:    English Style
  Explain: l18n - EN
  Author:  Dawn
  Date:    2015-08-12
*/


body {
  font-family: "Myriad Set Pro", "Meiryo", "Hiragino Kaku Gothic Pro", Helvetica, Arial, sans-serif;
}