@font-face {
  font-family: 'MyriadPro-Light';
  src: url('MyriadPro-Light.eot');
  src: url('MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
       url('MyriadPro-Light.woff2') format('woff2'),
       url('MyriadPro-Light.woff') format('woff'),
       url('MyriadPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

