.black {
  color: #000;
}

.white {
  color: #fff;
}

.green {
  color: #9ccc65;
}

.onboarding-ds {
  width: 620px;
  margin: -120px auto 50px;
    padding-top: 150px;
}
.onboarding-ds:before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
}
.onboarding-ds .widget-gallery-hd .title {
  font-size: 20px;
  color: #414141;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
  word-wrap: normal;
}
.onboarding-ds .widget-gallery-hd .search {
  width: 160px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  margin: 0 auto;
}
.onboarding-ds .widget-gallery-hd .search input {
  border: none;
  width: 130px;
  height: 100%;
  padding-left: 5px;
  background-color: transparent;
}
.onboarding-ds .widget-gallery-hd .search a {
  width: 28px;
  height: 100%;
  text-align: center;
}
.onboarding-ds .widget-gallery-hd .search a i {
  margin-top: 5px;
}
.onboarding-ds .widget-gallery-bd {
  width: 636px;
  height: 440px;
  margin: 14px 0;
  position: relative;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-list {
  height: 100%;
  overflow: hidden;
}
.onboarding-ds .widget-gallery-bd .box {
  width: 200px;
  height: 140px;
  box-shadow: inset 0 0 0 1px #e5e5e5;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  display: table;
  margin: 0 10px 10px 0;
  float: left;
}
.onboarding-ds .widget-gallery-bd .box:hover .box-hover-dom {
  opacity: 1;
}
.onboarding-ds .widget-gallery-bd .box:hover:not(.box-hover-wrap), .onboarding-ds .widget-gallery-bd .box.active:not(.box-hover-wrap) {
  box-shadow: inset 0 0 0 3px #9bcb64;
}
.onboarding-ds .widget-gallery-bd .box.active .box-active {
  display: block;
}
.onboarding-ds .widget-gallery-bd .box .box-active {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  border-radius: 0 4px 0 22px;
  background-color: #9bcb64;
  z-index: 10;
  text-align: left;
}
.onboarding-ds .widget-gallery-bd .box .box-active svg {
  width: 18px;
  height: 18px;
  fill: #fff;
  margin: 4px 0 0 6px;
}
.onboarding-ds .widget-gallery-bd .box .box-img {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.onboarding-ds .widget-gallery-bd .box .box-img img {
  width: 194px;
  max-width: 100%;
  max-height: 100%;
}
.onboarding-ds .widget-gallery-bd .box .box-hover-dom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.onboarding-ds .widget-gallery-bd .box .box-hover-dom .box-hover {
  border-radius: 4px;
  background-color: #9bcb64;
  display: table-cell;
  vertical-align: middle;
  height: 140px;
  width: 200px;
  text-align: center;
  word-wrap: normal;
  line-height: 17px;
  color: #fff;
  padding: 0 20px;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart {
  text-align: center;
  font-size: 16px;
  color: #444;
  text-shadow: 0 1px 0 #fff;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart:hover .widget-gallery-chart-bd .widget-gallery-chart-img img {
  opacity: 1;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart:hover .widget-gallery-chart-bd span {
  opacity: 0;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart:hover .widget-gallery-chart-ds {
  opacity: 0;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-bd {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0 10px;
  line-height: 17px;
  position: relative;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-bd .widget-gallery-chart-img {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  z-index: 1;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-bd .widget-gallery-chart-img img {
  width: 100%;
  max-height: 100%;
  opacity: .24;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-bd span {
  position: relative;
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-bar {
  background: url("/public/img/chart/bar.png") no-repeat center center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-column {
  background: url("/public/img/chart/column.png") no-repeat center center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-line {
  background: url("/public/img/chart/line.png") no-repeat center center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-map {
  background: url("/public/img/chart/map.png") no-repeat center center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-number {
  background: url("/public/img/chart/number.png") no-repeat center center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-pie {
  background: url("/public/img/chart/pie.png") no-repeat center center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-progressbar {
  background: url("/public/img/chart/progressbar.png") no-repeat center center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart .widget-gallery-chart-table {
  background: url("/public/img/chart/table.png") no-repeat center center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart-ds {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  text-align: right;
  height: 16px;
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart-ds span {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 6px;
  overflow: hidden;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart-ds span svg {
  width: 16px;
  height: 16px;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 10px;
  background-color: #3e4042;
  box-shadow: 0 1px 2px #3e4042;
  border-radius: 4px;
  display: none;
  z-index: 20;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart-info .info-title {
  margin-bottom: 10px;
  text-align: center;
}
.onboarding-ds .widget-gallery-bd .widget-gallery-chart-info .arrow.bottom:after {
  border-top-color: #3e4042;
}
.onboarding-ds .widget-gallery-bd .no-data {
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
  color: #757575;
  width: 620px;
}
.onboarding-ds .widget-gallery-ft {
  position: relative;
}
.onboarding-ds .widget-gallery-ft .error-tips {
  padding: 0 10px;
  background-color: #ee6e66;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  position: absolute;
  bottom: 40px;
  right: 0;
  z-index: 30;
}
.onboarding-ds .widget-gallery-ft .help-tips {
  float: left;
  line-height: 30px;
  font-size: 14px;
  color: #757575;
}
.onboarding-ds .widget-gallery-ft .help-tips a {
  text-decoration: underline;
}
.onboarding-ds .widget-gallery-ft .help-tips a:hover {
  text-decoration: none;
  color: #757575;
}
.onboarding-ds .widget-gallery-ft .help-tips a:focus {
  color: #757575;
}
.onboarding-ds .tips-success {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #3e4041;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
}
.onboarding-ds .tips-success svg {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;
  fill: #3e4041;
}
.onboarding-ds .tips-success span {
  color: #fff;
}
