<div class="login"  ng-class="{'pt-phone': pt.settings.isPhone}">
    <svg class="login-bg" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" login-svg-bg>
        <polygon  points="" style="fill:#8bc34a;"/>
        <polygon  points="" style="fill:#689f38;opacity:0.3"/>
    </svg>

    <header>
        <svg>
            <use xlink:href="{{productConfigs.logo}}"></use>
        </svg>
    </header>

    <div class="login-bd reset-bd m-t-lg" ng-hide="authError">
        <div class="text-center text-over text-xxl text-white login-info"
             translate="FORGOT_PASSWORD.RESET_PASSWORD.TIP_1">
        </div>
        <form name="form" class="form-validation" ng-show="showForm">
            <div class="ipt-login m-b-xs">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pwd"></use>
                </svg>
                <input id="login-reset-password" class="no-bg no-border text-xxl" type="password" ng-minlength="6"
                       ng-maxlength="20" ng-keydown="enterKeyUp($event,resetPassword)"
                       name="newPassword" ng-model="newPassword" required
                       placeholder="{{'COMMON.NEW_PASSWORD' | translate}}">
                <div class="popover right text-danger"
                     style="top: -4px; left: 348.25px; display: block;width:100%;height: 40px;"
                     ng-show="form.newPassword.$dirty && form.newPassword.$invalid">
                    <div class="arrow"></div>
                    <div class="popover-inner">
                        <div class="popover-content">
                            <span ng-show="form.newPassword.$error.required" translate="LOGIN.ERROR_TIP.PASSWORD_NULL">password is required.</span>
                            <span ng-show="form.newPassword.$error.minlength"
                                  translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH">Min length 6.</span>
                            <span ng-show="form.newPassword.$error.maxlength"
                                  translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH">Max length 20.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ipt-login m-b-xs">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pwd"></use>
                </svg>
                <input id="login-reset-confirm" class="no-bg no-border text-xxl" type="password" ng-minlength="6"
                       ng-maxlength="20" placeholder="{{'COMMON.CONFIRM_PASSWORD' | translate}}"
                       ng-keydown="enterKeyUp($event,resetPassword)" name="confirmPassword" ng-model="confirmPassword"
                       ui-validate=" '$value==newPassword' " ui-validate-watch=" 'newPassword' " required>
                <div class="popover right text-danger" style="top: -4px; left: 348.25px; display: block;width:100%;"
                     ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                    <div class="arrow"></div>
                    <div class="popover-inner">
                        <div class="popover-content">
                            <div ng-show="form.userPassword.$error.required" translate="LOGIN.ERROR_TIP.PASSWORD_NULL">
                                password is required.
                            </div>
                            <div ng-show="form.confirmPassword.$error.minlength"
                                 translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH">Min length 6.
                            </div>
                            <div ng-show="form.confirmPassword.$error.maxlength"
                                 translate="LOGIN.ERROR_TIP.PASSWORD_LENGTH">Max length 20.
                            </div>
                            <div ng-show='form.confirmPassword.$error.validator'
                                 translate="FORGOT_PASSWORD.RESET_PASSWORD.TIP_2">Passwords do not match!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button id="login-reset-submit" class="text-xl no-border block text-center btn-login m-t-xl"
                    type="button" ng-click="resetPassword()" translate="COMMON.SUBMIT">
            </button>
        </form>
    </div>
    <div class="login-bd m-t-lg" ng-show="authSuccess">
        <div class="text-center reset-countDown m-t-xl m-t-md login-default-color" ng-bind="errorMessage"></div>
    </div>

</div>
