<!--<div ui-jq="slimScroll"-->
     <!--data-slimscroll="chartTable"-->
     <!--ui-options="{-->
            <!--height:'auto',-->
            <!--size:'6px',-->
            <!--allowPageScroll: true-->
     <!--}">-->
<!--<div ui-jq="scrollbar"-->
     <!--ui-options="{-->
        <!--width: '100%',-->
        <!--height: '100%',-->
    <!--}">-->

<table class="chart-pttable table table-striped m-b-none" cellspacing="0" width="100%"></table>

<!-- <div ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{}" style="width: 100%; height: 100%;"> -->
    
    <!--<div ng-hide="!showThumb" class="chart-pttable-div-thumb chart-highchart-bd">-->
    <!-- <div class="m-r-sm">
        <table class="chart-pttable table table-striped m-b-none" cellspacing="0" width="100%"></table>
    </div> -->

    <!-- for test -->
    <!-- <div Style="height:30px;">
        <input style="width:60px;" type="text" ng-model="colsWidth[$index].width" ng-repeat="col in colsWidth" ng-change="resizeWidth()"></div>
    </div> -->

<!-- </div> -->
