<div class="pt-browser-container">
    <div class="pt-browser-content">
        <div class="pt-browser-logo">
            <img src="/assets/images/browser/{alias}-logo.png">
        </div>
        <div>
            <h1>{title}</h1>
            <p>{tip01}</p>
            <p>{tip02}</p>
            <div class="pt-browser">
                <a class="pt-chrome" href="{chrome}" target="_blank">
                    <img src="/assets/images/browser/chrome-logo.png">
                    <span>Chrome</span>
                </a>
                <a class="pt-safari" href="{safari}" target="_blank">
                    <img src="/assets/images/browser/safari-logo.png">
                    <span>Safari</span>
                </a>
                <a class="pt-firefox" href="{firefox}" target="_blank">
                    <img src="/assets/images/browser/firefox-logo.png">
                    <span>Firefox</span>
                </a>
                <a class="pt-edge" href="{edge}" target="_blank">
                    <img src="/assets/images/browser/Microsoft_Edge_logo.png">
                    <span>Microsoft Edge</span>
                </a>
            </div>
        </div>
    </div>
    <div class="continue" id="continueEl">{continueText}</div>
    <div class="pt-browser-footer">
        <span>Powered by Ptmind</span>
    </div>
</div>
