.black {
  color: #000;
}

.white {
  color: #fff;
}

.green {
  color: #9ccc65;
}

.reset-password {
  padding-top: 80px;
}
.reset-password .login-bd {
  margin-top: 17px;
}
.reset-password .user-email {
  height: 42px;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.reset-password .tips-info {
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.1em;
}
.reset-password .ipt-tips {
  font-size: 18px;
  color: #ffffff;
  text-align: left;
  margin: 0;
}
.reset-password .ipt-login {
  padding: 0 12px;
  margin-bottom: 20px;
}
.reset-password .ipt-login.ipt-space-domain.ipt-space-domain-jp span.space-host {
  width: 140px;
}
.reset-password .ipt-login.ipt-space-domain.ipt-space-domain-jp input {
  width: 170px;
}
.reset-password .ipt-login.ipt-space-domain span.space-host {
  display: inline-block;
  width: 155px;
  font-size: 18px;
  color: #74ae35;
}
.reset-password .ipt-login.ipt-space-domain input {
  width: 155px;
}
.reset-password .ipt-login .popover.right {
  left: 100%;
  display: block;
  width: 100%;
  top: 50%;
  height: auto;
  margin-left: 15px;
  transform: translate(0, -50%);
  padding: 0;
  background: transparent;
  background-clip: inherit;
  border: none;
  box-shadow: none;
}
.reset-password .ipt-login .popover.right .popover-inner {
  max-width: 100%;
  padding: 1px;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  float: left;
  margin-left: -1px;
}
.reset-password .ipt-login .popover.right .popover-content span {
  font-size: 13px;
}
