//variable

//color
$black: #000;
$white: #fff;
$green: #9ccc65;
$greenLight: #b2d009;
$gray: #ccc;
$grayHigh: #9d9d9d;

//text-color
$textGray1: #f5f5f5;
$textGray2: #eeeeee;
$textGray3: #e0e0e0;
$textGray4: #bdbdbd;
$textGray5: #9e9e9e;
$textGray6: #757575;
$textGray7: #616161;
$textGray8: #424242;
$textGray9: #212121;

$textGreen0: #ebf2dd;
$textGreen1: #dcedc8;
$textGreen2: #d5e1a5;
$textGreen3: #aed581;
$textGreen4: #9ccc65;
$textGreen5: #88c34a;
$textGreen6: #7cb342;
$textGreen7: #689f38;
$textGreen8: #55882f;
$textGreen9: #33691e;

$textInfoYellow:#6d4c41;

//border-color
$borderGray: #e0e0e0;
$borderGreen: #b2cf07;
$borderGrayHover: #bbb;
//background
$bggray: #eee;
$bggrayDefault: #e0e0e0;
$bgGrayLight: #a2a2a2;
$bgGrayLighter: #757575;
$bgGrayHigh: #bdbdbd;
$bgGrayHigher: #ef6e68;
$bgGraySpecial: #6fbd7f;
$bgOrange: #f98639;
$bgOrangeHover: #fa9552;
$bgblue: #6ec5fd;
$bgGreen: #95cc65;
$bgInfoYellow: #fbc349;
$bgRed: #EE6E66;
$bgRed1: #d14b47;

$bgBlack1: #4c4e50;
$bgBlack2: #454749;
$bgBlack3: #3e4042;
$bgBlack4: #2f3032;

$bgGray1: #f5f5f5;
$bgGray2: #eeeeee;
$bgGray3: #e0e0e0;
$bgGray4: #bdbdbd;
$bgGray5: #9e9e9e;
$bgGray6: #757575;
$bgGray7: #616161;
$bgGray8: #424242;
$bgGray9: #212121;

$bgGreen0: #ebf2dd;
$bgGreen1: #dcedc8;
$bgGreen2: #d5e1a5;
$bgGreen3: #aed581;
$bgGreen4: #9ccc65;
$bgGreen5: #88c34a;
$bgGreen6: #7cb342;
$bgGreen7: #689f38;
$bgGreen8: #55882f;
$bgGreen9: #33691e;

//font size
$fontMini: 12px;
$fontDefault: 13px;
$fontButton: 13px;
$fontSmall: 14px;
$fontMiddle: 16px;
$fontBig: 18px;
$fontBiger2: 20px;
$fontBiger: 24px;
$fontLarge: 28px;
$fontXLarge: 30px;

// radius
$radius: 5px;
$radiusSmall: 3px;

//line-height
$lineheight: 1.5;
$lineheightSmall: 1.2;